
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #404e59;
}
nav.top {
    background: #298bff;
    padding: 1em;
    border-radius: .25rem;
}
nav.top h1 {
    color: #fff;
    margin: 0;
    float: left;
}
nav.top h2 {
    color: #fff;
    margin: 0;
    float: right;
    font-weight: normal;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}
p.subinfo {
    margin-top: 0;
    color: #7e90a6;
    font-size: 90%;
}
ul.menu {
    float: right;
    margin: 0;
}
ul.menu li {
    display: inline;
    margin: 0 1em 0 0;
}
ul.menu li a {
    color: #fff;
}
.clear {
    clear: both;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 90%;
}
table td, table th {
    padding: 1rem 1.25rem;
    text-align: left;
}
table th {
    background: #7e90a6;
    color: #fff;
}
tr td {
    border-bottom: 1px solid #7e90a6;
}
tr.monthend td {
    border-bottom: 0;
    background: #dce2e9;
    color: #7e90a6;
    font-size: 90%;
}
.theader {
    font-size: 130%;
}
main {
    padding: 0 2em;
    margin-top: 3em;
}
main.small {
    width: 600px;
    margin: 3em auto;
}
span.badge {
    color: #fff;
    display: inline-block;
    padding: .35em .4em .25em .4em;
    font-size: 80%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.badge.badge-success {
    background-color: #13ce66;
}
.badge.badge-primary {
    background-color: #7e90a6;
}
.badge.badge-danger {
    background-color: #f66;
}
a.badge {
    color: #fff;
    background-color: #298bff;
    display: inline-block;
    padding: .35em .4em .25em .4em;
    font-size: 80%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    text-decoration: none;
}
a.badge:hover {
    background-color: #2374d4;
}
a.button {
padding: .25rem .5rem;
font-size: .81rem;
line-height: 1.5;
border-radius: .2rem;
color: #7e90a6;
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid #7e90a6;
text-decoration: none;
}
.right {
    float: right;
}
a {
    color: #2374d4;
}
.box {
    border: 1px solid #7e90a6;
    border-radius: .2rem;
}